@model IEnumerable<Structure_Code.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5 bg-dark text-light">
    <h1 class="text-center mb-5">List of Books</h1>

    <form asp-action="Index" method="get" class="mb-3">
        <div class="form-group">
            <label for="SearchString" class="text-light">Search a book</label>
            <div class="input-group">
                <input type="text" class="form-control bg-secondary text-light" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-light">Title</th>
                    <th class="text-light">Author</th>
              
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                        <td>@Html.DisplayFor(modelItem => item.Author)</td>
                    
                        <td>
                            <div class="btn-group">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="text-center mt-5">
        <a asp-action="Create" class="btn btn-success">Add New Book</a>
    </div>
</div>

